

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Create Album</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>



  <form #submitForm="ngForm" novalidate >
  


    <div class="ion-padding">
      <ion-button expand="block"(click)="addUploadImage()" type="submit">Upload Image </ion-button>
    </div>





  </form>





</ion-content>
